*
!.git
!.gitignore

!nixos/
!nixos/**

!cosmic/
!cosmic/**

!noctalia/
!noctalia/**

!kitty/
!kitty/**

!Throne/
!Throne/config/
!Throne/config/route_profiles/
!Throne/config/route_profiles/**

!lowfi/
!lowfi/**