*
!.git
!.gitignore

!nixos/
!nixos/**

!cosmic/
!cosmic/**

!niri/
!niri/**
niri/local.kdl

!noctalia/
!noctalia/**

!kitty/
!kitty/**

!Throne/
!Throne/config/
!Throne/config/route_profiles/
!Throne/config/route_profiles/**