// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    
    mouse {
        accel-profile "flat"
        accel-speed -0.15
    }
}

// niri msg outputs
//moved to local
// output "HDMI-A-1" {
//     mode "1920x1080@165.002"
//     variable-refresh-rate
//     scale 1
//     position x=0 y=0
// }
// output "eDP-1" {
//     mode "1920x1080@143.981"
//     variable-refresh-rate
//     scale 1.25
//     position x=1920 y=69
// }

cursor {
    xcursor-theme "catppuccin-mocha-dark-cursors"
    xcursor-size 24
}

layout {
    gaps 10
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 4
    }
    border {
        off
        width 4
    }
    background-color "transparent"
}

layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

overview {
  workspace-shadow {
    off
  }
}

hotkey-overlay {
    skip-at-startup
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}

spawn-at-startup "noctalia-shell"
spawn-at-startup "xwayland-satellite"
spawn-sh-at-startup "sleep 1 && noctalia-shell ipc call lockScreen lock"
spawn-sh-at-startup "swayidle -w before-sleep \"noctalia-shell ipc call lockScreen lock\" &"

spawn-sh-at-startup "sleep 3 && Throne"

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+S { spawn "kitty"; }
    Mod+Z { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+L  { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    XF86KbdBrightnessUp { spawn "brightnessctl" "-d" "asus::kbd_backlight" "set" "+1"; }
    XF86KbdBrightnessDown { spawn "brightnessctl" "-d" "asus::kbd_backlight" "set" "1-"; }

    Mod+A repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }


    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Down     { focus-workspace-down; }
    Mod+Up        { focus-workspace-up; }
    Mod+Shift+Down { move-column-to-workspace-down; }
    Mod+Shift+Up   { move-column-to-workspace-up; }

    Mod+Ctrl+Down { move-workspace-down; }
    Mod+Ctrl+Up   { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+D { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+M { maximize-window-to-edges; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

include "./noctalia.kdl"
include "./local.kdl"

