layout {

    focus-ring {
        active-color   "#95ceea"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#95ceea"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#95ceea"
        inactive-color "#004d64"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#95ceea80"
    }
}

recent-windows {
    highlight {
        active-color "#95ceea"
        urgent-color "#ffb4ab"
    }
}
